<section class="loginContainer">
    <div class="login-img">
      <img
        src="../../assets/LoginImg/logo.png"
        alt=""
        class="logo"
      />
      <span class="titile">模板工程及支撑体系崩塌防控技术</span>
      <img 
        src="../../assets/LoginImg/white-background.png"
        class="white-background"
      />
      <div class="login-input">
        <div class="select-txt">
          <span class="left-txt">手机登录</span>
          <span class="right-txt">账号登录</span>
        </div>
        <div class="line-box">
          <img  
            src="../../assets/LoginImg/line.png"
            alt=""
            class="line" 
          />
        </div>
        <div class="out-box">
          <div class="account-box">
            <img  
              src="../../assets/LoginImg/account.png"
              alt=""
              class="account-img" 
            />
            <el-input class="vue-input" placeholder="请输入用户名"></el-input>
          </div>
        </div>
        <div class="line-box-two">
          <img  
            src="../../assets/LoginImg/line.png"
            alt=""
            class="line" 
          />
        </div>
        <div class="out-box">
          <div class="password-box">
            <img  
              src="../../assets/LoginImg/password.png"
              alt=""
              class="password-img" 
            />
            <el-input class="vue-input" placeholder="请输入验证码">
            </el-input>
            <span class="code">获取验证码</span>
          </div>
        </div>
        <div class="line-box-three">
          <img  
            src="../../assets/LoginImg/line.png"
            alt=""
            class="line" 
          />
        </div>
        <div class="now-login-box" @click="handleLogin">
          <img  
            src="../../assets/LoginImg/blue.png"
            alt=""
            class="now-login" 
          />
          <span class="now-login-txt">
            立即登录
          </span>
        </div>
        <div class="platform-authentication-box">
          <img  
            src="../../assets/LoginImg/red.png"
            alt=""
            class="platform-authentication" 
          />
          <span class="platform-authentication-txt">
            平台认证
          </span>
        </div>
      </div>
    </div>
</section>
