.login-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    background: #e9f6ff url("../../assets/LoginImg/login.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    
    .logo {
        position: absolute;
        top: 80px;
        width: 100px;
        height: 100px;
    }

    .white-background {
        position: absolute;
        top: 280px;
        height: 370px;
        width: 82%;
        margin-bottom: 80px;
    }

    .titile {
        position: absolute;
        color: white;
        font-size: 18px;
        top: 200px;
    }

    .login-input {
        position: absolute;
        width: 85%;
        top: 310px;
        font-size: 20px;
        .select-txt {
            display: flex;
            justify-content: space-around;
            margin-left: 40px;
            margin-right: 40px;
            .left-txt {
                font-size: 18px;
                color: #0864a1;
            }
            .right-txt {
                font-size: 18px;
                color: #c0c0c0;
            }
        }
        .line-box {
            display: flex;
            justify-content: center;
            .line {
                margin-top: 30px;
                width: 80%;
            }
        }
        .line-box-two {
            display: flex;
            justify-content: center;
            .line {
                margin-top: 10px;
                width: 80%;
            }
        }
        .line-box-three {
            display: flex;
            justify-content: center;
            .line {
                margin-top: 10px;
                width: 80%;
            }
        }
        .out-box {
            display: flex;
            justify-content: center;
            .account-box {
                margin-top: 10px;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .account-img {
                    width: 20px;
                    height: 20px;
                }
            }
            .vue-input input.el-input__inner {
                border: none;
            }
        }
        .out-box {
            display: flex;
            justify-content: center;
            .password-box {
                margin-top: 10px;
                justify-content: center;
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                /deep/ .el-input__inner {
                    border: none;
                }
                .password-img {
                    width: 20px;
                    height: 20px;
                }
                .code {
                    width: 150px;
                    font-size: 14px;
                    color: #0864a1
                }
            }
            .vue-input input.el-input__inner {
                border: none;
            }
        }
    }
    .now-login-box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .now-login {
            height: 45px;
            line-height: 45px;
            width: 80%;
        }
        .now-login-txt {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 12px;
            font-size: 18px;
            color: white;
        }
    }
    .platform-authentication-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .platform-authentication {
            height: 45px;
            width: 80%;
        }
        .platform-authentication-txt {
            position: absolute;
            margin-top: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
        }
    }
}