.background {
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.my {
    margin-top: 88px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}